@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Телефон:</strong> <a href="tel:+79650398516">+7-965-039-85-16</a><br />
    <strong>E-mail:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>