@{
    ViewBag.Title = "Платная поликлиника PaidPolyclinic";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">
        Платная поликлиника - это это медицинское учреждение, предоставляющее платные медицинские услуги пациентам.

        Данный сайт не является реальной платной поликлиникой! Сайт выполнен для Политехнического университета Сантк-Петербурга ИСПО.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Обращения</h2>
        <p>
            Здесь вы можете посмотреть список всех обращений в клинику. 
            Создать новое обращение, удалить или отредактировать существующее.
        </p>
        <p class="btn btn-default">
            @Html.ActionLink("Подробнее", "Index", "Receptions") &raquo;
        </p>
    </div>
    <div class="col-md-4">
        <h2>Список пациентов</h2>
        <p>
            Здесь вы можете посмотреть список пациентов нашей клиники.
            Добавить, удалить или отредактировать карточку уже существующего пациента.
        </p>
        <p class="btn btn-default">
            @Html.ActionLink("Подробнее", "Index", "Patients") &raquo;
        </p>
    </div>
</div>